In [1]:
import pandas as pd

In [2]:
os.chdir(r"../DBMS Project/")

In [4]:
df= pd.read_csv('data/jobs_data.csv')

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1669891 entries, 0 to 1669890
Data columns (total 27 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   JobID          1669891 non-null  int64
 1   JobDate        1669891 non-null  object
 2   CleanTitle     1669891 non-null  object
 3   CanonTitle     1669891 non-null  object
 4   OccFam         1669891 non-null  int64
 5   OccFamName     1669891 non-null  object
 6   SOC            1669891 non-null  object
 7   SOCName        1669891 non-null  object
 8   ONET           1669891 non-null  object
 9   ONETName       1669891 non-null  object
 10  Employer       1669891 non-null  object
 11  Sector         1669891 non-null  object
 12  SectorName     1669891 non-null  object
 13  NAICS3         1669891 non-null  int64
 14  City           1669891 non-null  object
 15  State          1669891 non-null  object
 16  County         1669891 non-null  object
 17  Lat            1669891 non-null  float64
 18  Lon            1669891 non-null  float64
 19  Edu            1669891 non-null  int64
 20  Degree         1669891 non-null  object
 21  Exp            1669891 non-null  float64
 22  MinSalary      1669891 non-null  float64
 23  MaxSalary      1669891 non-null  float64
 24  MinHrlySalary  1669891 non-null  float64
 25  MaxHrlySalary  1669891 non-null  float64
 26  PayFrequency   1669891 non-null  object
dtypes: float64(7), int64(4), object(16)
memory usage: 344.0+ MB

In [6]:
df.columns

Index(['JobID', 'JobDate', 'CleanTitle', 'CanonTitle', 'OccFam', 'OccFamName',
       'SOC', 'SOCName', 'ONET', 'ONETName', 'Employer', 'Sector',
       'SectorName', 'NAICS3', 'City', 'State', 'County', 'Lat', 'Lon', 'Edu',
       'Degree', 'Exp', 'MinSalary', 'MaxSalary', 'MinHrlySalary',
       'MaxHrlySalary', 'PayFrequency'],
      dtype='object')

In [7]:
df['JobDate']= pd.to_datetime(df['JobDate'])
df['year']= df['JobDate'].dt.year
df['MonthYr']= df['JobDate'].dt.to_period('M')
df['QuarterYr'] = pd.PeriodIndex(df.JobDate, freq='Q')

In [8]:
df.head()

,JobID,JobDate,CleanTitle,CanonTitle,OccFam,OccFamName,SOC,SOCName,ONET,ONETName,...,Degree,Exp,MinSalary,MaxSalary,MinHrlySalary,MaxHrlySalary,PayFrequency,year,MonthYr,QuarterYr
0,38924381557,2020-12-31,Retail Store Manager In Training,Store Manager In Training,41,Sales and Related Occupations,41-1011,First-Line Supervisors of Retail Sales Workers,41-1011.00,First-Line Supervisors of Retail Sales Workers,...,na,0.5,31000.0,36000.0,14.90,17.31,annual,2020,2020-12,2020Q4
1,38924381817,2020-12-31,Assistant Controller,Assistant Controller,11,Management Occupations,11-3031,Financial Managers,11-3031.01,Treasurers and Controllers,...,Bachelor's,5.0,82000.0,82000.0,39.42,39.42,annual,2020,2020-12,2020Q4
2,38924382809,2020-12-31,Truck Driver Cdl A,Class A CDL Truck Driver,53,Transportation and Material Moving Occupations,53-3032,Heavy and Tractor-Trailer Truck Drivers,53-3032.00,Heavy and Tractor-Trailer Truck Drivers,...,na,0.5,14820.0,14820.0,7.13,7.13,daily,2020,2020-12,2020Q4
3,38924382949,2020-12-31,Orangetheory Fitness Sales Associate,Sales Associate,41,Sales and Related Occupations,41-2031,Retail Salespersons,41-2031.00,Retail Salespersons,...,na,1.0,24960.0,24960.0,12.00,12.00,hourly,2020,2020-12,2020Q4
4,38924383292,2020-12-31,Medical Device Sales Representative,Sales Representative,41,Sales and Related Occupations,41-4011,"Sales Representatives, Wholesale and Manufactu...",41-4011.00,"Sales Representatives, Wholesale and Manufactu...",...,High School,1.0,35360.0,72800.0,17.00,35.00,hourly,2020,2020-12,2020Q4

In [9]:
a= df['Employer'].value_counts().reset_index()
a.reset_index(inplace=True)
a.columns=['EmployerID', 'Employer', 'counts']
a

        EmployerID                        Employer  counts
0                0                   US Government   34062
1                1  Department of Veterans Affairs   32270
2                2                Allied Universal   11679
3                3           Lowe's Companies, Inc    7303
4                4                         US Army    7244
...            ...                             ...     ...
313698      313698     Mat Su Health Services, Inc       1
313699      313699          Igreen Remodeling, Inc       1
313700      313700  Water Lily Learning Center Llc       1
313701      313701                 Jsd Productions       1
313702      313702                Andax Industries       1

[313703 rows x 3 columns]

In [10]:
df= pd.merge(df, a[['Employer', 'EmployerID']])

In [11]:
df['temp']= df['Lat'].astype('str')+df['Lon'].astype('str')+df['City']+df['County']
df['temp']

0                32.4849-80.965RidgelandBeaufort
1                    32.7425-81.227EstillHampton
2                    33.9743-83.3639AthensClarke
3                34.1222-84.2975AlpharettaFulton
4                 32.1172-81.2581SavannahChatham
                           ...
1669886           29.0459-82.0395BelleviewMarion
1669887     37.9746-87.5735EvansvilleVanderburgh
1669888       37.3331-87.4973MadisonvilleHopkins
1669889        34.7638-77.4715JacksonvilleOnslow
1669890    39.1975-96.067Saint MarysPottawatomie
Name: temp, Length: 1669891, dtype: object

In [12]:
import hashlib
# df['survey_id'] = (df.employee_id + df.customer_id + df.timestamp).apply(
#     lambda s: hashlib.md5(s).digest().encode('base64')[: 10])

df['LocID']= df['temp'].apply(lambda x: hashlib.md5(x.encode('utf-8')).hexdigest())

In [13]:
df.drop(columns=['NAICS3', 'temp'], inplace=True)
df.shape

(1669891, 31)

In [14]:
df['LocID'].value_counts()

67ee5635a66809f180ae7136946219ff    18826
a72ddfac9057eb743d92ffff79e680dc    17074
82b491153ce85ebbc1c8b3583d60dfd8    16930
0013def35c448f509ac3c4dca775148e    15957
7885b7c83841056968e53f1b52aee533    15198
                                    ...
9e44355b1426e7edc1d717dcf6309b2b        1
d0900f8ddfd7c61bd9a234dce5e7aa83        1
02a69e651ed73664cde25680dc54cb3b        1
a45b5cd5a90788c985cd1b598749533d        1
686827f1b6b667883a8a7796ed6c423d        1
Name: LocID, Length: 29372, dtype: int64

In [15]:
dfl= df[['LocID', 'City', 'State', 'County', 'Lat', 'Lon']]
dfl.drop_duplicates(inplace=True)
dfl.reset_index(inplace=True, drop=True)
dfl.shape

/var/folders/q4/8qvknrhs5d9dq4q2zxqgqzxr0000gn/T/ipykernel_97728/2261508424.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfl.drop_duplicates(inplace=True)

(29374, 6)

In [16]:
dfl['LocID'].value_counts()

c9d4de8cd171f87b15bb98e968421aaf    2
d4793d01e73ff9e0c0ce242093e9c435    2
0a4d0ba211fdd266046888eb7985a5f0    1
9f5d3628521102a574eff31418637563    1
b9cce380b0116107f55e0617340bcfb1    1
                                   ..
578a0ecb6ca5897112d87774e41af161    1
bf91d9b1abcc40cfc118b283ebcc991e    1
8de9109f4db27cef218ec9826cb082ad    1
24595ea8b282553eb85c02adb21d335d    1
686827f1b6b667883a8a7796ed6c423d    1
Name: LocID, Length: 29372, dtype: int64

In [17]:
df= df[df['LocID']!='c9d4de8cd171f87b15bb98e968421aaf']
df= df[df['LocID']!='d4793d01e73ff9e0c0ce242093e9c435']
df.reset_index(inplace=True, drop=True)
df

,JobID,JobDate,CleanTitle,CanonTitle,OccFam,OccFamName,SOC,SOCName,ONET,ONETName,...,MinSalary,MaxSalary,MinHrlySalary,MaxHrlySalary,PayFrequency,year,MonthYr,QuarterYr,EmployerID,LocID
0,38924381557,2020-12-31,Retail Store Manager In Training,Store Manager In Training,41,Sales and Related Occupations,41-1011,First-Line Supervisors of Retail Sales Workers,41-1011.00,First-Line Supervisors of Retail Sales Workers,...,31000.0,36000.0,14.90,17.31,annual,2020,2020-12,2020Q4,10689,0a4d0ba211fdd266046888eb7985a5f0
1,38932171682,2021-01-13,Retail Store Manager In Training,Store Manager In Training,41,Sales and Related Occupations,41-1011,First-Line Supervisors of Retail Sales Workers,41-1011.00,First-Line Supervisors of Retail Sales Workers,...,31000.0,36000.0,14.90,17.31,annual,2021,2021-01,2021Q1,10689,e7c7535cf7ebb60dfc0d73ff98152f08
2,38773851208,2020-05-05,District Manager,District Manager,11,Management Occupations,11-1021,General and Operations Managers,11-1021.00,General and Operations Managers,...,55000.0,65000.0,26.44,31.25,annual,2020,2020-05,2020Q2,10689,f3504068510e0876fa318c4b602d1582
3,38784922052,2020-05-25,C-Store Manager Or Deli Manager,Store Manager,11,Management Occupations,11-9051,Food Service Managers,11-9051.00,Food Service Managers,...,40000.0,55000.0,19.23,26.44,annual,2020,2020-05,2020Q2,10689,b2c9fae50e1c470411e261f13054e4d8
4,38792656870,2020-06-09,District Manager,District Manager,11,Management Occupations,11-1021,General and Operations Managers,11-1021.00,General and Operations Managers,...,45000.0,55000.0,21.63,26.44,annual,2020,2020-06,2020Q2,10689,c9784c8595208aaf94b90b733b07f81d
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1669808,39154192567,2022-01-01,Retail Sales Professional,Sales Professional,41,Sales and Related Occupations,41-2031,Retail Salespersons,41-2031.00,Retail Salespersons,...,22880.0,27040.0,11.00,13.00,hourly,2022,2022-01,2022Q1,152306,cd95fedc595002d2aabee97fe1a2b674
1669809,39154192601,2022-01-01,Maintenance Supervisor,Maintenance Supervisor,49,"Installation, Maintenance, and Repair Occupations",49-1011,"First-Line Supervisors of Mechanics, Installer...",49-1011.00,"First-Line Supervisors of Mechanics, Installer...",...,41600.0,62400.0,20.00,30.00,hourly,2022,2022-01,2022Q1,152298,22dbe32abdbf56984b7e6940e653b1c8
1669810,39154192804,2022-01-01,Office Manager,Office Manager,43,Office and Administrative Support Occupations,43-1011,First-Line Supervisors of Office and Administr...,43-1011.00,First-Line Supervisors of Office and Administr...,...,26193.0,50000.0,12.59,24.04,annual,2022,2022-01,2022Q1,152304,65f5b51261c1f20294264a02e24a696c
1669811,39154192873,2022-01-01,Pizza Hut Delivery Driver,Delivery Driver,53,Transportation and Material Moving Occupations,53-3031,Driver/Sales Workers,53-3031.00,Driver/Sales Workers,...,31200.0,41600.0,15.00,20.00,hourly,2022,2022-01,2022Q1,152302,3afa8b8ff36849c1f6e6732b984fe0be
1669812,39154193124,2022-01-01,Sales Representative,Sales Representative,41,Sales and Related Occupations,41-4012,"Sales Representatives, Wholesale and Manufactu...",41-4012.00,"Sales Representatives, Wholesale and Manufactu...",...,33000.0,126055.0,15.87,60.60,annual,2022,2022-01,2022Q1,313702,a34073d462260f37e593759034b51a62

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1669813 entries, 0 to 1669812
Data columns (total 31 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   JobID          1669813 non-null  int64
 1   JobDate        1669813 non-null  datetime64[ns]
 2   CleanTitle     1669813 non-null  object
 3   CanonTitle     1669813 non-null  object
 4   OccFam         1669813 non-null  int64
 5   OccFamName     1669813 non-null  object
 6   SOC            1669813 non-null  object
 7   SOCName        1669813 non-null  object
 8   ONET           1669813 non-null  object
 9   ONETName       1669813 non-null  object
 10  Employer       1669813 non-null  object
 11  Sector         1669813 non-null  object
 12  SectorName     1669813 non-null  object
 13  City           1669813 non-null  object
 14  State          1669813 non-null  object
 15  County         1669813 non-null  object
 16  Lat            1669813 non-null  float64
 17  Lon            1669813 non-null  float64
 18  Edu            1669813 non-null  int64
 19  Degree         1669813 non-null  object
 20  Exp            1669813 non-null  float64
 21  MinSalary      1669813 non-null  float64
 22  MaxSalary      1669813 non-null  float64
 23  MinHrlySalary  1669813 non-null  float64
 24  MaxHrlySalary  1669813 non-null  float64
 25  PayFrequency   1669813 non-null  object
 26  year           1669813 non-null  int64
 27  MonthYr        1669813 non-null  period[M]
 28  QuarterYr      1669813 non-null  period[Q-DEC]
 29  EmployerID     1669813 non-null  int64
 30  LocID          1669813 non-null  object
dtypes: datetime64[ns](1), float64(7), int64(5), object(16), period[M](1), period[Q-DEC](1)
memory usage: 394.9+ MB

In [19]:
df.columns

Index(['JobID', 'JobDate', 'CleanTitle', 'CanonTitle', 'OccFam', 'OccFamName',
       'SOC', 'SOCName', 'ONET', 'ONETName', 'Employer', 'Sector',
       'SectorName', 'City', 'State', 'County', 'Lat', 'Lon', 'Edu', 'Degree',
       'Exp', 'MinSalary', 'MaxSalary', 'MinHrlySalary', 'MaxHrlySalary',
       'PayFrequency', 'year', 'MonthYr', 'QuarterYr', 'EmployerID', 'LocID'],
      dtype='object')

# DIMENSION CREATION

In [20]:
# dim_occupation
dfo= df[['OccFam', 'OccFamName']]
dfo.drop_duplicates(inplace=True)
dfo.reset_index(inplace=True, drop=True)
dfo.shape

/var/folders/q4/8qvknrhs5d9dq4q2zxqgqzxr0000gn/T/ipykernel_97728/1572799496.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfo.drop_duplicates(inplace=True)

(22, 2)

In [21]:
# dim_soc
dfs= df[['SOC', 'SOCName']]
dfs.drop_duplicates(inplace=True)
dfs.reset_index(inplace=True, drop=True)
dfs.shape

/var/folders/q4/8qvknrhs5d9dq4q2zxqgqzxr0000gn/T/ipykernel_97728/1166016367.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfs.drop_duplicates(inplace=True)

(680, 2)

In [22]:
# dim_onet
dfon= df[['ONET', 'ONETName']]
dfon.drop_duplicates(inplace=True)
dfon.reset_index(inplace=True, drop=True)
dfon.shape

/var/folders/q4/8qvknrhs5d9dq4q2zxqgqzxr0000gn/T/ipykernel_97728/2185344302.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfon.drop_duplicates(inplace=True)

(837, 2)

In [23]:
# dim_emp
dfe= df[['EmployerID', 'Employer']]
dfe.drop_duplicates(inplace=True)
dfe.reset_index(inplace=True, drop=True)
dfe.shape

/var/folders/q4/8qvknrhs5d9dq4q2zxqgqzxr0000gn/T/ipykernel_97728/1200793701.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfe.drop_duplicates(inplace=True)

(313703, 2)

In [24]:
# dim_sector
dfse= df[['Sector', 'SectorName']]
dfse.drop_duplicates(inplace=True)
dfse.reset_index(inplace=True, drop=True)
dfse.shape

/var/folders/q4/8qvknrhs5d9dq4q2zxqgqzxr0000gn/T/ipykernel_97728/3427700391.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfse.drop_duplicates(inplace=True)

(20, 2)

In [25]:
# dim_location
dfl= df[['LocID', 'City', 'State', 'County', 'Lat', 'Lon']]
dfl.drop_duplicates(inplace=True)
dfl.reset_index(inplace=True, drop=True)
dfl.shape

/var/folders/q4/8qvknrhs5d9dq4q2zxqgqzxr0000gn/T/ipykernel_97728/3532084286.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfl.drop_duplicates(inplace=True)

(29370, 6)

In [26]:
# dim_time
dft= df[['JobDate', 'year', 'MonthYr', 'QuarterYr']]
dft.drop_duplicates(inplace=True)
dft.reset_index(inplace=True, drop=True)
dft.shape

/var/folders/q4/8qvknrhs5d9dq4q2zxqgqzxr0000gn/T/ipykernel_97728/3421940553.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dft.drop_duplicates(inplace=True)

(1072, 4)

In [27]:
# dim_role
dfr= df[['JobID', 'CleanTitle', 'CanonTitle']]
dfr.drop_duplicates(inplace=True)
dfr.reset_index(inplace=True, drop=True)
dfr.shape

/var/folders/q4/8qvknrhs5d9dq4q2zxqgqzxr0000gn/T/ipykernel_97728/2590275402.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfr.drop_duplicates(inplace=True)

(1669813, 3)

In [28]:
df.columns

Index(['JobID', 'JobDate', 'CleanTitle', 'CanonTitle', 'OccFam', 'OccFamName',
       'SOC', 'SOCName', 'ONET', 'ONETName', 'Employer', 'Sector',
       'SectorName', 'City', 'State', 'County', 'Lat', 'Lon', 'Edu', 'Degree',
       'Exp', 'MinSalary', 'MaxSalary', 'MinHrlySalary', 'MaxHrlySalary',
       'PayFrequency', 'year', 'MonthYr', 'QuarterYr', 'EmployerID', 'LocID'],
      dtype='object')

# FACT TABLE CREATION

In [29]:
# Fact Jobs
fact= df[['JobID', 'JobDate', 'OccFam', 'SOC', 'ONET', 'Sector', 'EmployerID', 'LocID', 
            'Edu', 'Exp', 'MinSalary', 'MaxSalary', 'MinHrlySalary', 'MaxHrlySalary', 'PayFrequency']]
fact.drop_duplicates(inplace=True)
fact.reset_index(inplace=True, drop=True)
fact.shape

/var/folders/q4/8qvknrhs5d9dq4q2zxqgqzxr0000gn/T/ipykernel_97728/4045014210.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fact.drop_duplicates(inplace=True)

(1669813, 15)

In [30]:
dfskill= pd.read_csv('data/skills_data.csv')
dfskill.shape

(18515090, 7)

In [31]:
dfskill.head()

,JobID,Skill,SkillCluster,SkillClusterFamily,IsSpecialized,IsBaseline,IsSoftware
0,38472302383,Rehabilitation,Rehabilitation,Health Care,1,0,0
1,38472302383,Personnel Management,People Management,Business,1,0,0
2,38472302383,Onboarding,Employee Training,Human Resources,1,0,0
3,38472302383,Treatment Planning,General Medicine,Health Care,1,0,0
4,38472302383,Staff Management,People Management,Business,1,0,0

In [32]:
lst=[38485067381,
 38490907917,
 38520385170,
 38525184452,
 38532153953,
 38532742981,
 38581678851,
 38594069388,
 38598553882,
 38641829572,
 38672922382,
 38691181323,
 38691203186,
 38703133990,
 38703148176,
 38715227208,
 38717335043,
 38738985442,
 38744917903,
 38759909037,
 38765131007,
 38765270012,
 38767381883,
 38770552587,
 38779433932,
 39091178881,
 38934193488,
 38547918997,
 38590314886,
 38696355087,
 38783200896,
 38783372193,
 38814257397,
 38828272061,
 38829583562,
 38832383999,
 38838436078,
 38869064400,
 38870139517,
 38908233433,
 38953166438,
 38954987510,
 38955595649,
 38967038604,
 38967039582,
 38970286887,
 38982720409,
 39003884445,
 39007039623,
 39011726913,
 39063023409,
 39072553714,
 39091177362,
 39093997052,
 39119124077,
 39152053312,
 39152055167,
 38814284532,
 38958869478,
 38787098107,
 39082458064,
 38876641412,
 38961840871,
 38472244313,
 38477223883,
 38500618752,
 38524349013,
 38847122829,
 38847290904,
 38892756450,
 38966902038,
 38969428291,
 38969431181,
 39006521959,
 39078215655,
 38680094750,
 38698276622,
 38756053010]

In [33]:
dfskill= dfskill[~dfskill['JobID'].isin(lst)]
dfskill.shape

(18514344, 7)

In [34]:
%who

a	 df	 dfe	 dfl	 dfo	 dfon	 dfr	 dfs	 dfse
dfskill	 dft	 fact	 hashlib	 lst	 os	 pd	 sys

In [35]:
# dfe.to_csv('employer.csv', index=False)
# dfl.to_csv('location.csv', index=False)
# dfo.to_csv('occupation.csv', index=False)
# dfr.to_csv('jobrole.csv', index=False)
# dfs.to_csv('soc.csv', index=False)
# dfon.to_csv('onet.csv', index=False)
# dfse.to_csv('sector.csv', index=False)
# dfskill.to_csv('skill.csv', index=False)
# dft.to_csv('jobdate.csv', index=False)
# fact.to_csv('fact.csv', index=False)

In [36]:
fact.shape

(1669813, 15)

In [37]:
df['CanonTitle'].value_counts()[:60]

Class A CDL Truck Driver                      64628
Registered Nurse                              58449
Customer Service Representative               33401
Administrative Assistant                      23054
Security Officer                              21902
Sales Representative                          21251
Maintenance Technician                        19710
Assistant Manager                             19012
Caregiver                                     17629
Licensed Practical Nurse (LPN)                16568
Delivery Driver                               15335
Sales Associate                               13015
Line Cook                                     12287
Forklift Operator                             12005
Receptionist                                  10800
Bartender                                     10202
Store Manager                                 10006
Social Worker                                  9421
Assistant Store Manager                        9402
Dental Assistant                               9088
Certified Nursing Assistant                    8883
Truck Driver                                   8781
Housekeeper                                    8605
Information Technology Specialist              8579
Cook                                           8428
Pharmacy Technician                            7795
Attorney                                       7308
Custodian                                      7306
Office Assistant                               7205
Veterinary Technician                          7175
Auto Technician                                7035
Accountant                                     6791
Service Technician                             6316
Janitor                                        6312
Outside Sales Representative                   6166
Warehouse Associate                            6097
Customer Service Associate                     6028
Host/Hostess                                   5858
Restaurant Manager                             5849
Front Desk Agent                               5845
Nurse Practitioner                             5696
Preschool Teacher                              5537
CDL Driver                                     5534
Account Manager                                5473
Office Manager                                 5372
Med/Surg Registered Nurse                      5368
Retail Sales Associate                         5361
Maintenance Worker                             5312
Human Resources Specialist                     5284
Property Manager                               5270
Intensive Care Unit (ICU) Registered Nurse     5192
Administrative Specialist                      5176
Management Analyst                             5144
Licensed Vocational Nurse (LVN)                4957
Dispatcher                                     4922
Inside Sales Representative                    4890
Mechanic                                       4842
Dish Washer                                    4795
Cashier                                        4782
Executive Assistant                            4736
Name: CanonTitle, dtype: int64

In [38]:
df[df['CanonTitle'].str.contains('Store Manager')]['CanonTitle'].value_counts()

Store Manager                     10006
Assistant Store Manager            9402
Retail Store Manager               2180
Assistant Retail Store Manager     1006
Store Manager In Training           299
Name: CanonTitle, dtype: int64

In [39]:
df[(df['CanonTitle']=='Registered Nurse') & (df['MaxSalary']== 162240.0)][['Edu', 'Exp']]

         Edu  Exp
158707    16  1.0
158710    16  1.0
158711    16  1.0
158714    16  1.0
158718    16  1.0
158724    16  1.0
158726    16  1.0
158728    16  1.0
158733    16  1.0
158739    16  1.0
158740    16  1.0
158742    16  1.0
158744    16  1.0
158746    16  1.0
158750    16  1.0
158756    16  1.0
158797    16  1.0
158799    16  1.0
372496    14  1.0
609593    14  3.0
609596    14  3.0
609597    14  3.0
609598    14  3.0
609631    14  3.0
609637    14  3.0
647413    14  2.0
712631    16  3.0
712633    16  3.0
712634    16  3.0
829906    14  1.0
884762    16  5.0
884776    16  5.0
1290623   16  5.0
1369268   14  2.0
1410008   16  1.0
1410010   16  1.0
1516589   14  1.0
1643240   14  1.0
1643243   14  0.5
1669652   14  1.0

In [40]:
df['Employer'].value_counts()

US Government                     34036
Department of Veterans Affairs    32270
Allied Universal                  11679
Lowe's Companies, Inc              7303
US Army                            7241
                                  ...
Mat Su Health Services, Inc           1
Igreen Remodeling, Inc                1
Water Lily Learning Center Llc        1
Jsd Productions                       1
Andax Industries                      1
Name: Employer, Length: 313703, dtype: int64

In [41]:
df['OccFamName'].value_counts()

Healthcare Practitioners and Technical Occupations            222386
Office and Administrative Support Occupations                 221323
Management Occupations                                        157417
Transportation and Material Moving Occupations                154259
Sales and Related Occupations                                 148348
Business and Financial Operations Occupations                 120678
Installation, Maintenance, and Repair Occupations              85462
Food Preparation and Serving Related Occupations               83702
Computer and Mathematical Occupations                          82921
Protective Service Occupations                                 43181
Healthcare Support Occupations                                 43144
Architecture and Engineering Occupations                       42860
Building and Grounds Cleaning and Maintenance Occupations      38787
Personal Care and Service Occupations                          38516
Construction and Extraction Occupations                        34491
Education, Training, and Library Occupations                   33251
Production Occupations                                         28968
Community and Social Service Occupations                       25437
Legal Occupations                                              24352
Life, Physical, and Social Science Occupations                 20940
Arts, Design, Entertainment, Sports, and Media Occupations     19246
Farming, Fishing, and Forestry Occupations                       144
Name: OccFamName, dtype: int64

In [42]:
q1= df[df['OccFamName']=='Computer and Mathematical Occupations']
q1

,JobID,JobDate,CleanTitle,CanonTitle,OccFam,OccFamName,SOC,SOCName,ONET,ONETName,...,MinSalary,MaxSalary,MinHrlySalary,MaxHrlySalary,PayFrequency,year,MonthYr,QuarterYr,EmployerID,LocID
805,38898407381,2020-11-15,It Field Support Technician,Information Technology Technician,15,Computer and Mathematical Occupations,15-1151,Computer User Support Specialists,15-1151.00,Computer User Support Specialists,...,50000.0,60000.0,24.04,28.85,annual,2020,2020-11,2020Q4,617,d75c22d747fc58745afcccca8c67a07d
7005,38472546312,2019-01-01,Database Administrator - Its5,Database Administrator,15,Computer and Mathematical Occupations,15-1141,Database Administrators,15-1141.00,Database Administrators,...,67317.0,115111.0,32.36,55.34,annual,2019,2019-01,2019Q1,47,d7a69906f86d29db8d7387308de8ffbe
7011,38473483535,2019-01-04,Agency Policy Specialist - Accounting Systems ...,Accounting Specialist,15,Computer and Mathematical Occupations,15-2031,Operations Research Analysts,15-2031.00,Operations Research Analysts,...,58777.0,87194.0,28.26,41.92,annual,2019,2019-01,2019Q1,47,d7a69906f86d29db8d7387308de8ffbe
7019,38473483954,2019-01-04,Senior Web Application Developer - Its,Web Applications Developer,15,Computer and Mathematical Occupations,15-1134,Web Developers,15-1134.00,Web Developers,...,67317.0,115111.0,32.36,55.34,annual,2019,2019-01,2019Q1,47,d7a69906f86d29db8d7387308de8ffbe
7027,38474023590,2019-01-05,Hcm Application Developer - Its3,Applications Developer,15,Computer and Mathematical Occupations,15-1132,"Software Developers, Applications",15-1132.00,"Software Developers, Applications",...,56564.0,92958.0,27.19,44.69,annual,2019,2019-01,2019Q1,47,d7a69906f86d29db8d7387308de8ffbe
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1669281,39153601391,2021-12-31,Investigation And Complaints Unit Coordinator ...,Operations Analyst,15,Computer and Mathematical Occupations,15-2031,Operations Research Analysts,15-2031.00,Operations Research Analysts,...,62808.0,96516.0,30.20,46.40,monthly,2021,2021-12,2021Q4,152684,686827f1b6b667883a8a7796ed6c423d
1669488,39153887733,2021-12-31,It Technician,Information Technology Technician,15,Computer and Mathematical Occupations,15-1151,Computer User Support Specialists,15-1151.00,Computer User Support Specialists,...,60000.0,60000.0,28.85,28.85,annual,2021,2021-12,2021Q4,127917,b57bbb11c5c1eab91d378bbf1db7bf14
1669519,39153927424,2021-12-31,Systems Analyst,Systems Analyst,15,Computer and Mathematical Occupations,15-1121,Computer Systems Analysts,15-1121.00,Computer Systems Analysts,...,55396.2,55396.2,26.63,26.63,annual,2021,2021-12,2021Q4,152048,9e5e98a56e2cc8999b562faf58f779f9
1669631,39154126448,2022-01-01,Information Security Analyst,Information Security Analyst,15,Computer and Mathematical Occupations,15-1122,Information Security Analysts,15-1122.00,Information Security Analysts,...,50000.0,50000.0,24.04,24.04,annual,2022,2022-01,2022Q1,151953,193a27c63affd04dfe675d04c6b3d069
1669691,39154142472,2022-01-01,It Technician II,Information Technology Technician,15,Computer and Mathematical Occupations,15-1151,Computer User Support Specialists,15-1151.00,Computer User Support Specialists,...,35360.0,49920.0,17.00,24.00,hourly,2022,2022-01,2022Q1,152387,ac2dd0868faaceecd4120c16387a4d04

In [43]:
dfskill[dfskill['JobID'].isin(q1[q1['QuarterYr']=='2019Q1']['JobID'])].shape

(143254, 7)

In [44]:
dfskill[dfskill['JobID'].isin(q1[q1['QuarterYr']=='2020Q1']['JobID'])].shape

(146508, 7)

In [45]:
dfskill[dfskill['JobID'].isin(q1[q1['QuarterYr']=='2021Q1']['JobID'])].shape

(137599, 7)

In [3]:
q1= pd.read_csv(r"graph data/2020q1.csv")
q1

,JobID,JobDate,MonthYr,CleanTitle,CanonTitle,OccFamName,SOCName,ONETName,Employer,SectorName,State,County,Lat,Lon,Skill,SkillCluster,SkillClusterFamily,IsSpecialized,IsBaseline,IsSoftware
0,38694278910,2020-01-08,2020-01,Information Technology Specialist,Information Technology Specialist,Computer and Mathematical Occupations,Computer User Support Specialists,Computer User Support Specialists,State of Minnesota,Public Administration,Minnesota,Lyon,44.4455,-95.7857,Planning,na,na,0,1,0
1,38694278910,2020-01-08,2020-01,Information Technology Specialist,Information Technology Specialist,Computer and Mathematical Occupations,Computer User Support Specialists,Computer User Support Specialists,State of Minnesota,Public Administration,Minnesota,Lyon,44.4455,-95.7857,Video Conferencing,Telecommunications,Information Technology,1,0,0
2,38694278910,2020-01-08,2020-01,Information Technology Specialist,Information Technology Specialist,Computer and Mathematical Occupations,Computer User Support Specialists,Computer User Support Specialists,State of Minnesota,Public Administration,Minnesota,Lyon,44.4455,-95.7857,Wide Area Network (WAN),Network Configuration,Information Technology,1,0,0
3,38694278910,2020-01-08,2020-01,Information Technology Specialist,Information Technology Specialist,Computer and Mathematical Occupations,Computer User Support Specialists,Computer User Support Specialists,State of Minnesota,Public Administration,Minnesota,Lyon,44.4455,-95.7857,Organizational Skills,na,na,0,1,0
4,38694278910,2020-01-08,2020-01,Information Technology Specialist,Information Technology Specialist,Computer and Mathematical Occupations,Computer User Support Specialists,Computer User Support Specialists,State of Minnesota,Public Administration,Minnesota,Lyon,44.4455,-95.7857,Supervisory Skills,People Management,Business,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
146503,38753993999,2020-03-31,2020-03,Business Analyst,Business Analyst,Computer and Mathematical Occupations,"Computer Occupations, All Other",Business Intelligence Analysts,Essential Federal Credit Union,Finance and Insurance,Louisiana,East Baton Rouge,30.4480,-91.1857,Troubleshooting Technical Issues,Technical Support,Information Technology,1,0,0
146504,38753993999,2020-03-31,2020-03,Business Analyst,Business Analyst,Computer and Mathematical Occupations,"Computer Occupations, All Other",Business Intelligence Analysts,Essential Federal Credit Union,Finance and Insurance,Louisiana,East Baton Rouge,30.4480,-91.1857,Bank Secrecy Act (BSA),Financial Regulations,Finance,1,0,0
146505,38753993999,2020-03-31,2020-03,Business Analyst,Business Analyst,Computer and Mathematical Occupations,"Computer Occupations, All Other",Business Intelligence Analysts,Essential Federal Credit Union,Finance and Insurance,Louisiana,East Baton Rouge,30.4480,-91.1857,Teamwork / Collaboration,na,na,1,0,0
146506,38753993999,2020-03-31,2020-03,Business Analyst,Business Analyst,Computer and Mathematical Occupations,"Computer Occupations, All Other",Business Intelligence Analysts,Essential Federal Credit Union,Finance and Insurance,Louisiana,East Baton Rouge,30.4480,-91.1857,Project Planning and Development Skills,Project Management,Business,1,0,0
146507,38753993999,2020-03-31,2020-03,Business Analyst,Business Analyst,Computer and Mathematical Occupations,"Computer Occupations, All Other",Business Intelligence Analysts,Essential Federal Credit Union,Finance and Insurance,Louisiana,East Baton Rouge,30.4480,-91.1857,Detail-Oriented,na,na,0,1,0

In [4]:
q1['Skill'].value_counts()

Communication Skills    3373
Problem Solving         2324
Troubleshooting         2255
Planning                1940
Research                1843
                        ...
Experimental Testing       1
Compass                    1
Salesforce Einstein        1
Media Relations            1
Product Assortment         1
Name: Skill, Length: 4415, dtype: int64

In [5]:
q1['IsBaseline'].value_counts()

0    116393
1     30115
Name: IsBaseline, dtype: int64

In [6]:
q1[q1['SkillCluster']=='Conservation']

,JobID,JobDate,MonthYr,CleanTitle,CanonTitle,OccFamName,SOCName,ONETName,Employer,SectorName,State,County,Lat,Lon,Skill,SkillCluster,SkillClusterFamily,IsSpecialized,IsBaseline,IsSoftware
10292,38691526773,2020-01-03,2020-01,Sap Security Analyst I*,Security Analyst,Computer and Mathematical Occupations,Information Security Analysts,Information Security Analysts,Arrowhead Regional Medical Center,Health Care and Social Assistance,California,San Bernardino,37.3372,-117.2910,Resource Conservation,Conservation,Environment,1,0,0
10332,38739123440,2020-03-17,2020-03,Website Developer,Web Developer,Computer and Mathematical Occupations,Web Developers,Web Developers,Arrowhead Regional Medical Center,Health Care and Social Assistance,California,San Bernardino,37.3372,-117.2910,Resource Conservation,Conservation,Environment,1,0,0
13484,38749589819,2020-03-24,2020-03,Website Developer,Web Developer,Computer and Mathematical Occupations,Web Developers,Web Developers,County San Bernardino,Public Administration,California,San Bernardino,37.3372,-117.2910,Resource Conservation,Conservation,Environment,1,0,0
17781,38702087705,2020-01-23,2020-01,Agricultural Science Research Technician,Research Technician,Computer and Mathematical Occupations,Operations Research Analysts,Operations Research Analysts,US Government,Public Administration,Iowa,Story,42.0275,-93.6369,Resource Conservation,Conservation,Environment,1,0,0
18426,38705676512,2020-01-30,2020-01,Information Technology Specialist Information ...,Information Technology Specialist,Computer and Mathematical Occupations,Information Security Analysts,Information Security Analysts,US Government,Public Administration,North Carolina,Craven,35.2654,-76.9000,Environmental Risk Assessment,Conservation,Environment,1,0,0
23032,38750555148,2020-03-26,2020-03,It Specialist Entarch,Information Technology Specialist,Computer and Mathematical Occupations,Computer User Support Specialists,Computer User Support Specialists,US Government,Public Administration,North Carolina,Durham,36.0891,-78.8991,Environmental Protection,Conservation,Environment,1,0,0
23652,38733011407,2020-03-09,2020-03,Cartographic Technician,Cartographic Technician,Computer and Mathematical Occupations,"Computer Occupations, All Other",Geographic Information Systems Technicians,Forest Service,"Agriculture, Forestry, Fishing and Hunting",West Virginia,Pocahontas,38.2117,-80.0557,Environmental Impact Statements,Conservation,Environment,1,0,0
26741,38721239223,2020-02-23,2020-02,Collection Systems Analyst,Systems Analyst,Computer and Mathematical Occupations,Computer Systems Analysts,Computer Systems Analysts,City Of Springfield Mo,Public Administration,Missouri,Greene,37.1312,-93.2917,Watershed Management,Conservation,Environment,1,0,0
32075,38706544021,2020-01-31,2020-01,Software Senior Civil Engineer,Software Development Engineer,Computer and Mathematical Occupations,"Software Developers, Applications","Software Developers, Applications",City Savannah,Finance and Insurance,Georgia,Chatham,32.1172,-81.2581,Water Conservation,Conservation,Environment,1,0,0
33044,38692580175,2020-01-04,2020-01,It Specialist Systems Analysis,Information Technology Specialist,Computer and Mathematical Occupations,Computer Network Support Specialists,Computer Network Support Specialists,Federal Aviation Administration,Public Administration,Oklahoma,Oklahoma,35.4915,-97.5625,Environmental Protection,Conservation,Environment,1,0,0
47614,38713961448,2020-02-12,2020-02,Safety Specialist Project Manager,Safety Specialist,Computer and Mathematical Occupations,"Software Developers, Applications","Software Developers, Applications",Waste Management,Administrative and Support and Waste Managemen...,California,Los Angeles,33.8261,-118.2620,Resource Conservation,Conservation,Environment,1,0,0
64236,38724906336,2020-02-29,2020-02,Project Manager - Network Infrastructure,Infrastructure Project Manager,Computer and Mathematical Occupations,"Computer Occupations, All Other",Information Technology Project Managers,Tradestar,"Professional, Scientific, and Technical Services",Texas,Dallas,32.9614,-96.8921,Environmental Protection,Conservation,Environment,1,0,0
69915,38730384880,2020-03-05,2020-03,Senior Gis Analyst In,Geographic Information Systems (GIS) Analyst,Computer and Mathematical Occupations,"Computer Occupations, All Other",Geospatial Information Scientists and Technolo...,Central Arizona Project,"Professional, Scientific, and Technical Services",Arizona,Maricopa,33.4507,-112.0680,Water Planning,Conservation,Environment,1,0,0
71309,38712536806,2020-02-10,2020-02,Budget Development And Systems Analyst,Systems Analyst,Computer and Mathematical Occupations,Computer Systems Analysts,Computer Systems Analysts,County Orange,Public Administration,California,Orange,33.7537,-117.8520,Environmental Protection,Conservation,Environment,1,0,0